/*
.cursor{
    width: 40px;
    height: 40px;
    cursor: none;
    border: 1px dashed white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    animation: Anim1 1s infinite alternate;

}

.cursor:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: crimson;
    border-radius: 50%;
}

@keyframes Anim1 {
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(0.7) rotate(90deg);
    }
}
body{
    cursor: none;
    height: 100vh;
}
*/

html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
    margin-top: 6%;
}
#logo:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
header li:hover, header #logo:hover{
    background-color: red;
    cursor: pointer;
}

body {
    /*background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.24) 0%, rgba(126, 61, 255, 0) 100%), #0B011D;*/
    margin: 0;
    background-color: #0b011d;
    
}

img{
    /*
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    */
    opacity: 0.69;
    transform-style: preserve-3d;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.hero-lights {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    opacity: .5;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3%;
    z-index: 998;
    border-radius: 999px;
    width: fit-content;
    border: 1px solid #2d2641;
    background-color: hsla(0,0%,100%,.03);
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 33%;
    justify-content: space-around;
    backdrop-filter: blur(8px);
}
p, h2, h3, h5, button{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*
    opacity: 0.7;
    */
}
#aPropos p{
    font-size: 20px;
}
a{
    text-decoration: none;
    display: flex;
    width: 110px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.nav-line {
    width: 1px;
    height: 40px;
    margin-right: 3px;
    margin-left: 3px;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 50%,hsla(0,0%,100%,0));
    opacity: .2;
}
.nav-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 20px;
    gap: 8px;
    width: 73px;
    height: 40px;
    border-radius: 999px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
h1{
    color: white;
}

#logo{
    display: block;
    max-width: 840px;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 72px;
    margin-left: auto;
    width: 100%;
}
.line-break{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(96.18deg,rgba(215,196,255,0) 25%,rgba(215,196,255,.24) 50%,rgba(215,196,255,0) 75%);
}
.degrade{
    /*box-shadow: 1px 5px 100px white;*/
    background: radial-gradient(33.82% 46.83% at 50% 0%, rgba(126, 61, 255, 0.08) 0%, rgba(126, 61, 255, 0) 100%), #0B011D;
}

.square{/*
    width: 96px;
    height: 96px;
    background-image: url(https://uploads-ssl.webflow.com/63c6b6a…/63c842d…_Rectangle%2011.svg),url(https://uploads-ssl.webflow.com/63c6b6a…/63c842d…_Rectangle%2012.svg);
    */
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 20;
    width: 96px;
    height: 96px;
    background-image: url(https://uploads-ssl.webflow.com/63c6b6a…/63c842d…_Rectangle%2011.svg),url(https://uploads-ssl.webflow.com/63c6b6a…/63c842d…_Rectangle%2012.svg);
    background-position: 50% 50%,50% 50%;
    background-size: cover,cover;
    background-repeat: no-repeat,no-repeat;
    opacity: 1;
    -webkit-transition: 222ms;
    transition: 222ms;
}
.square a{
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
}
#logos{
    grid-column-gap: 12px;
    margin: 5%;
    
    padding: 4px 12px 4px 8px;
    display: -webkit-box;
}
#logos div{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(57.38% 100% at 50% 0%, rgba(168, 128, 255, 0.12) 0%, rgba(168, 128, 255, 0) 100%), rgba(255, 255, 255, 0.05);
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    -webkit-transform-style: preserve-3d;
    display: -webkit-box;
    border-radius: 999px;
    align-items: center;
    display: flex;
    padding: 6px 12px 6px 8px;
}


#logos h3{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
}

#logo2 a{
    width: 100%;
    height: 100%;
}
/*
#logo3:before{
    content:url('image/GitHub-Mark-removebg-preview\ \(1\).png')
}
*/

.about h1{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 88px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
}
.aboutContent div{
    display: flex;
    justify-content: center;
}
.aboutContent{
    margin-top: 5% !important;
    margin-bottom: 10% !important;
    background: linear-gradient(105.43deg, rgba(168, 128, 255, 0) 25.1%, rgba(168, 128, 255, 0.32) 72.57%, rgba(168, 128, 255, 0) 102.57%), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    width: 50%;
    /* carré
    width: 762px;
    height: 564px;
    */
    margin: auto;
    /*box-shadow: 1px 5px 100px white; red, blue*/ 
}
.aboutContent{
    background-image: url('https://uploads-ssl.webflow.com/63c6b6a8e34f347803dc4c5a/63f4f6e017165de20c72a3f4_Lights%20(10)%20(1).png');
    background-attachment: fixed;
}
.heading{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    margin-top: 0;
    margin-bottom: 0;
    font-size: 88px;
    font-weight: 500;/**/
    text-align: center;
    letter-spacing: -.02em;
}

#Other{
    margin-bottom: 5%;
}
#language{
    margin-top: 5%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;

}
#other .degrade, #Contact .degrade{
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

#language div{

    border-radius: 12px;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#language1{
    grid-column: 1/span 3;
    grid-row: 1/ span 2;
}
#language2{
    grid-column: 4/span 1;
    grid-row: 1/ span 3;
    flex-direction: column;
}

#language3{
    grid-column: 1/span 1;
    grid-row: 3/ span 2;
    flex-direction: column;
}

#language4{
    grid-column: 2/span 2;
    grid-row: 3/ span 1;
}

#language5{

}

#language6{

}

#language7{

}
#language img{
    width: 30%;
}

#ContactLine+ .heading, #Projects +.heading{
    margin-top: 5%;
    margin-bottom: 5%;
}

#contact{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    border-radius: 12px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    padding: 2%;
}
#contact >p, #contact >h3{
    display: flex;
    justify-content: center;
}

#gridForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
#Mail{
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}
#Object{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}
#Text{
    grid-row: 1/span 3;
}
#Sumbit{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#work{
    display: flex;

    flex-wrap: wrap;
}
#TypeWork{
    width: 5.5%;
}

#TypeWork div{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    border-radius: 12px;
}
/*responsive
    justify-content: center;
    flex-direction: column;
    */

#TypeWork h5{/*utiliser l'écran pour le fixe que sur les works*/
    display: flex;
    justify-content: center;
}

#listWork{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    text-align: center;
    grid-column-gap: 20px;
    margin-bottom: 5%;
    
}


#listWork .images:not(.etudeGauche, .etudeDroite){
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    border-radius: 12px;
    padding: 9%;
    height: 270px;
    min-height: auto;
    display: flex !important;
    justify-content: center !important;
    /* object-fit: contain;*/
    
}

.ProjetsGauche{
    margin-top: -8%;
}


.ProjetsDroite{
    margin-top: 18%;
}
#listWork .texte{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
}
#listWork .titre, #listWork .pres{
    margin-top: 0;
    margin-left: 4%;
    display: flex;
    justify-content: start;
}
#listWork .infosLang, #listWork .infosDate{
    margin-top: 0;
    margin-right: 4%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.border{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    border-radius: 999px;
    padding: 0px 12px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border p {
    margin: 0;
    padding: 15%;
}

textarea, #name, #Objet, #email{
    /*
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
*/
    
    border-radius: 12px;
    border: 2px hsla(0,0%,53%,.2);
    height: 30px;
    background-color: #b5abcb;
    -webkit-text-fill-color: black !important;
    font-size: 15px;
}
textarea{
    width: 85%;
    height: 208px;
}

button{
    border: none;
}
#Sumbit .border{
    padding: 1.5% 12px 1.5% 12px;
}

#listWork .titre{
    display: flex;
    align-items: center;
}

#gridInfos{
    display: grid !important;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#gridInfos div{
    /*
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    border-radius: 12px;
    */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#gridInfos img{
    position: absolute;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    max-height: 100%;

}
#AnneeXp img, #Passion img{
    transform: rotate(180deg);
}
#gridInfos p{
    font-size: 30px;
    margin-top: 4%;/**/
}
#gridInfos h2, #gridInfos p{
    margin-left: 5%;
}
#Passion p{
    font-size: 40px !important;
}
#aPropos{
    margin: 5%;
}

#logo3:hover, #logo1:hover, #logo2:hover{
    cursor: pointer !important;
}


button:hover{
    cursor: pointer;
}
#logos div:hover{
    cursor: default;
}
.border, #logos div, nav a{
    transition: all 0.3s ease-out;
}
.border:hover, #logos div:hover,  nav a:hover{
    background-color: rgba(0, 0, 255, 0.2);
    opacity: .8;
    transform: scale(1.05,1.05);
}
#listWork img:not(.etudeGauche, .etudeDroite){
        /*transition: all 0.5s ease-out;*/
    /*transition: all 2s ease-out;*/
    /*
    transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(10deg);
  transition: 0.6s ease all;
  */
  /*
  transform:
  perspective(900px)
  rotateX(60deg)
  scale(0.7);
box-shadow: 0px 20px 100px #555;
transition:0.6s ease all;
*/
    
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
    
}
#listWork img:hover:not(.etudeGauche, .etudeDroite){
    opacity: 1;
    transform: scale(1.35,1.35);


    transform:
    perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(1.3);
  filter: blur(0);
    
    /*
    transform:
    rotate(0deg)
    scale(1)
    translateY(10px);
    */

    /*transform: perspective(300px) rotateY(-10deg);*/
    /*transform: rotate3d(0.5, -0.5, 0.5, 0.05turn);*/

}
nav a:hover{
    box-shadow: inset 0px 0px 4px 2px rgb(168 128 255 / 10%);
    border-radius: 999px;
}
#TypeWork div{
    transition: all 0.6s ease-out;
}
#TypeWork div:hover{
    margin-right: -35% !important;
    cursor: default;
}

#WorksJava:hover{
    background-color: red;
}
#WorksJS:hover{
    opacity: 0.5;
    background-color: yellowgreen;
}
#WorksHtml:hover{
    background-color: blue;
}
#WorksSQL:hover{
    background-color: orange;
}
#WorksShell:hover{
    background-color: black;
}
#WorksManagment:hover{
    background-color: gray;
}
#CSharp:hover{
    background-color: purple;
}

.oui{
    background-color: rgba(0, 0, 255, 0.2) !important;
    box-shadow: 1px 5px 100px rgba(0, 0, 255, 0.2) !important;
}
.red{
    background-color: red !important;
    box-shadow: 1px 5px 100px red !important;
}
.yellow{
    opacity: 0.5;
    background-color: yellowgreen !important;
    box-shadow: 1px 5px 100px yellowgreen !important;
}
.blue{
    background-color: blue !important;
    box-shadow: 1px 5px 100px blue !important;
}
.orange{
    background-color: orange !important;
    box-shadow: 1px 5px 100px orange !important;
}
.black{
    background-color: black !important;
    box-shadow: 1px 5px 100px black !important;
}
.gray{
    background-color: gray !important;
    box-shadow: 1px 5px 100px gray !important;
}
.purple{
    background-color: purple !important;
    box-shadow: 1px 5px 100px purple !important;
}
img{
    transition: all 0.6s ease-in-out;
}
img:hover:not(.etudeGauche, .etudeDroite){
    transform: rotate(360deg);  
}
.Java img:hover:not(.etudeGauche, .etudeDroite){
    box-shadow: 1px 5px 100px red !important;
}
.Shell img:hover:not(.etudeGauche, .etudeDroite){
    box-shadow: 1px 5px 100px black !important;
}
.SQL img:hover:not(.etudeGauche, .etudeDroite){
    box-shadow: 1px 5px 100px orange !important;
}
.Html-Css img:hover:not(.etudeGauche, .etudeDroite){
    box-shadow: 1px 5px 100px blue !important;
}
.Managment img:hover:not(.etudeGauche, .etudeDroite){
    box-shadow: 1px 5px 100px gray !important;
}
.javascript img:hover:not(.etudeGauche, .etudeDroite){
    box-shadow: 1px 5px 100px yellow !important;
}
.CSharp img:hover:not(.etudeGauche, .etudeDroite){
    box-shadow: 1px 5px 100px purple !important;
}

@media screen and (max-width: 1700px){
    .etudeDroite{
        left: 75% !important;
    }
}

@media screen and (max-width: 1550px){
    .etudeDroite{
        left: 78% !important;
    }
    .etudeGauche{
        left: 38% !important;
    }
}

@media screen and (max-width: 1400px){
    .etudeDroite{
        left: 81% !important;
    }
}

@media screen and (max-width: 1300px){
    .etudeDroite{
        left: 83% !important;
    }
    .etudeGauche{
        left: 37% !important;
    }
}

@media screen and (max-width: 1200px){
    .etudeDroite{
        left: 84% !important;
    }
}

@media screen and (max-width: 1100px){
    #listWork{
        width: 85%;
    }
    .etudeDroite{
        left: 83% !important;
    }
    .etudeGauche{
        left: 39% !important;
    }
    .etudeGauche, .etudeDroite{
        width: 16% !important;
    }
}

@media screen and (max-width: 850px){
    #listWork{
        grid-template-columns: 1fr;
        width: 60%;
    }
    #work{
        display: block !important;
    }
    #TypeWork{
        display: flex;
        justify-content: space-around;
        width: 75%;
        margin: auto;
    }
    #TypeWork div{
        width: 100%;
        margin-bottom: 4% ;
    }
    #TypeWork div:hover{
        margin-right: 0 !important;
        margin-top: -4%;
    }
    nav{
        width: 60%;
    }
    .about h1{
        font-size: 65px;
    }
    .etudeDroite, .etudeGauche{
        left: 65% !important;
    }
    #showAll{
        width: 20% !important;
    }
    #aPropos p{
        font-size: 16px;
    }
}
@media screen and (max-width: 550px){
    nav{
        width: 80%;
    }
    #TypeWork{
        /*
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        */

        flex-direction: row; 
        flex-wrap: wrap;
    }
    #TypeWork div{
        width: 30%;
    }
    #listWork img:not(.etudeGauche, .etudeDroite){
        height: 90%;
    }
    .about h1{
        font-size: 30px;
    }
    textarea, #name, #Objet, #email{
        font-size: 10px;
    }
    #logos div{
        margin-bottom: 5%;
    }
    #logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0%;
    }
    #listWork{
        justify-content: center;
    }
    h1{
        font-size: 50px !important;
    }
    .aboutContent{
        width: 80% !important;
    }
    .etudeDroite, .etudeGauche{
        width: 25% !important;
        margin-top: -10% !important;
        left: 63% !important;
    }
    #showAll{
        width: 30% !important;
    }
    #showAllDiv h1{
        font-size: 28px !important;
    }
    #aPropos p{
        font-size: 14px;
    }
}

@media screen and (max-width: 400px){
    .etudeDroite, .etudeGauche{
        width: 30% !important;
        left: 69% !important;
    }
    #showAll{
        width: 35% !important;
    }
    #showAllDiv h1{
        font-size: 25px !important;
    }
}

@media screen and (max-width: 350px){
    .etudeDroite, .etudeGauche{
        left: 71% !important;
    }
}

.etudeGauche, .etudeDroite{
    margin-top: -5%;
    position: absolute;
    z-index: 1;
    width: 15%;
    left: 40.5%;
    opacity: 0.8;
    transform: rotate(45deg);
}

.etudeDroite{
    left: 71%;
}

#etudeHover{
    opacity: 1;
    transform: scale(1.35,1.35);


    transform:
    perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(1.3);
  filter: blur(0);
}

.linkProjects{
    width: 100%;
    height: 100%;
}

.linkProjects img{
    height: 100%;
}

#showAllDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

#showAll{
    width: 15%;
    padding: 1%;
}

#showAll:hover{
    cursor: pointer;
}